* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body, .wb-body {
    background-color: #1e293c;
}

.wb-body > div {
    height: 100%;
    width: 100%;
}

.button-icon,
.background {
    user-select: none;
    -webkit-user-select: none;
}

pre {
    margin: 0;
}

#root {
    position: relative;
    z-index: 1;
    height: 100%;
}

.select-zone {
    position: fixed;
    border: 1px solid #9dd1ec;
    background-color: #9dd1ec30;
    z-index: 100;
}

.winbox {
    background-color: #0a85b5;
    border-radius: 6px 6px 0 0;
}

.rc-tree-list {
    color: #ced9ec;
}

.rc-tree-switcher {
    display: none!important;
}

.rc-tree-treenode {
    display: flex;
}

.rc-tree-node-content-wrapper{
    padding: 0 5px!important;
    flex-grow: 1;
}

.rc-tree-node-selected {
    background-color: transparent!important;
    box-shadow: none!important;
    border-radius: 5px;
}

.rc-tree-treenode-selected {
    background-color: #0a85b5 !important;
    color: white;
    box-shadow: none!important;
    border-radius: 5px;
}

.rc-tree-treenode:nth-child(even){
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
}

.background {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.background > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    max-width: 300px;
}

.button-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: smaller;
}

.button-icon > div:first-child {
    flex-grow: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.button-icon > div:last-child {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.terminal {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.terminal form {
    display: flex;
    font-family: monospace;
    white-space: pre;
}
.terminal form > div {
    margin-right: 5px;
}

.terminal input {
    font-family: monospace;
    white-space: pre;
    width: 100%;
    font-size: inherit;
    background: none;
    outline: none;
    border: 0;
    color: white;
    padding: 0;
    margin: 0;
}

.browser {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.browser > .url-bar {
    width: 100%;
    background-color: #1e293c;
    padding: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #444e5e;
}


.browser > .url-bar .icon-btn {
    background: none;
    border: none;
    line-height: 0;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 0 0 5px;
    padding: 0;
    height: 24px;
    width: 24px;
}

.browser > .url-bar .icon-btn.disabled {
    opacity: 0.4;
}

.browser > .url-bar .icon-btn:hover {
    background-color: #444e5e;
}

.browser > .url-bar .icon-btn.disabled:hover {
    background: none!important;
    cursor: default!important;
}

.browser > .url-bar > form {
    display: flex;
}

.browser > .url-bar > form > div {
    padding: 2px 5px 3px 12px;
    border-radius: 30px;
}

.browser > .url-bar > form > div {
    align-items: center;
}
.browser > .url-bar form > div {
    display: flex;
    background-color: #444e5e;
    color: #9ca3a9;
    font-size: 14px;
}

.browser > .url-bar > form input {
    padding: 1px 2px 1px 3px;
    margin: 1px 2px 0 3px;
}

.browser > .url-bar input {
    border: none;
    color: white;
    outline: none;
    background-color: #646e81;
    border-radius: 3px;
}

.browser > .url-bar form .icon-btn {
    margin: 0 2px -2px 6px;
    padding: 0;
}


.browser > .url-bar .icon-btn svg {
    height: 100%;
    width: 100%;
    color: white;
}

.browser > iframe {
    position: relative;
    flex-grow: 1;
    border: 0;
    background-color: white;
}

.dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

iframe {
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
}

.console {
    width: 100%;
    height: 0;
    background-color: lightgray;
    border-top: 1px solid gray;
    box-shadow: 0 0 30px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
}

.console.open {
    height: 200px;
}

.console > .top-bar {
    background-color: darkgray;
    cursor: row-resize;
}

.console > pre {
    overflow: auto;
    flex-grow: 1;
}

.console > .top-bar,
.console > pre > div {
    padding: 5px;
    border-bottom: 1px solid gray;
}

.console > pre > div.error {
    background-color: #5c0000;
    color: #ff9393;
}

.tooltip {
    position: absolute;
    top: 100%;
    z-index: 10;
    background-color: #1e293d;
    border: 1px solid #454e5f;
    border-radius: 5px;
    right: 0;
    padding: 6px;
    backdrop-filter: blur(6px);
}

button {
    background-color: #0a85b5;
    border: 1px solid #70aac1;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
}

button:hover {
    background-color: #0f688a;
    border-color: #20718f;
}

button:active {
    background-color: #70aac1;
}

button.danger {
    background-color: #b22a2a;
    border: 1px solid #c04b4b;
}

button.danger:hover {
    background-color: #8c2020;
    border: 1px solid #6e2626;
}

button.danger:active {
    background-color: #d35d5d;
}

.share form div {
    flex-direction: column;
    padding: 6px;
    border-radius: 3px;
    text-align: left;
    align-items: flex-start;
    margin-bottom: 5px;
}
.share form div span {
    color: white;
}
.share input{
    margin: 2px 0;
    padding: 4px;
}

.share {
    min-width: 265px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.share img {
    height: 25px;
    padding: 2px;
}

.share form,
.share input {
    width: 100%
}

.github-auth-flow {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #161B22;
    color: white;
    gap: 20px;
}
