.DS_Store
.idea
node_modules

/.github
/.gitignore
/.gitmodules

/build.*

/cleanup.ts

/cli.js.map
/cli.ts

/commands/**/*.js.map
/commands/**/*.ts
/commands/**/*.d.ts

/create-fullstacked

/docs

/fullstacked-code-coverage

/gui/**/*
!/gui/dist
/gui/dist/**/*.map

/index.ts

/server.js.map
/server.ts

/server/installNative.d.ts
/server/installNative.js.map
/server/installNative.ts

/server/watcher.d.ts
/server/watcher.js.map
/server/watcher.ts

/tests

/tsconfig.json

/types/**/*.ts
/types/**/*.d.ts
/types/**/*.js.map

/utils/**/*
!/utils/**/*.js

!/utils/fetch.d.ts
!/utils/sleep.d.ts
!/utils/testE2E.d.ts
!/utils/testIntegration.d.ts
!/utils/uploadFileWithProgress.d.ts
!/utils/waitForServer.d.ts

/version.js.map
/version.ts

/webapp/**/*.js.map
/webapp/**/*.ts


