.idea
.github

*.js.map
*.mjs.map
*.ts
*.tsx
!*.d.ts

/pwa
/ios
/electron
/src
/code-oss-build
/docker
/code-oss/bin
/code-oss/node_modules
/code-oss/package-lock.json

/dist/lite

*.tgz

build.js
tsconfig.json
