.idea
.github

*.js.map
*.ts
*.tsx
!*.d.ts

/client
/server
/pwa
/code-oss-build
/docker
/code-oss/bin
/code-oss/node_modules
/code-oss/package-lock.json

src

dist/server/index.mjs.map

*.tgz

build.js
tsconfig.json
