.explorer-with-tabs > .tabs {
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    background-color: #4b5567;
    border-radius: 5px;
}

.explorer-with-tabs > .tabs > div {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.explorer-with-tabs > .tabs > div.active {
    background-color: #2d4c86;
}


.explorer-with-tabs{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.explorer-with-tabs > div:last-child {
    flex: 1;
    overflow: auto;
}


.rc-tree-list {
    color: #ced9ec;
}

.rc-tree-switcher {
    display: none!important;
}

.rc-tree-treenode {
    display: flex;
}

.rc-tree-node-content-wrapper{
    padding: 0 5px!important;
    flex-grow: 1;
    display: inline-flex!important;
    align-items: center;
    width: 100%;
}

.rc-tree-title{
    height: 100%;
    display: inline-flex!important;
    flex: 1;
    justify-content: space-between;
    overflow: hidden;
}
.rc-tree-title > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    width: 100%
}

.rc-tree-title .title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.rc-tree-title .buttons {
    display: flex;
    align-items: center;
}

.rc-tree-title .buttons > button:not(:first-child) {
    margin-left: 3px;
}

.rc-tree-node-selected {
    background-color: transparent!important;
    box-shadow: none!important;
    border-radius: 5px;
}

.rc-tree-treenode-selected {
    background-color: #0a85b5 !important;
    color: white;
    box-shadow: none!important;
    border-radius: 5px;
}

.rc-tree-treenode:nth-child(even){
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
}

.explorer-with-tabs > .options {
    display: flex;
    justify-content: space-between;
}

.explorer-with-tabs .checkbox {
    color: white;
    font-weight: bold;
    font-size: small;
    padding: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 10px;
}

.copy {
    border: 1px solid rgba(250,251,251,.3);
    display: inline-flex;
    border-radius: 5px;
    background-color: rgba(250,251,251,.1);
    cursor: pointer;
    position: relative;
    align-items: center;
    padding-left: 10px;
    padding-right: 62px;
    max-width: 100%;
}

.copy > span {
    padding: 20px 0;
    white-space: nowrap;
    max-width: 100%;
    overflow: auto;
}

.copy > svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    padding: 10px;
    border: 1px solid #00b0df;
    border-radius: 3px;
    background-color: rgba(0,176,223,.05);
    color: #00b0df;
}

.copy > svg.success {
    color: rgb(87, 184, 123);
    border: 1px solid rgba(87, 184, 123, 1);
    background-color: rgba(87, 184, 123, 0.2)!important;
}