.monaco-workbench * {
    box-sizing: initial;
}

.code-oss-window-options {
    top: 5px;
    left: 0;
    position: absolute;
    height: 10px;
    width: 30px;
}

.code-oss-window-options * {
    box-sizing: border-box;
}

.code-oss-loading {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
