#command-palette {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

#command-palette > div:first-child{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#command-palette > div:last-child {
    height: max-content;
    width: 100%;
    max-width: 400px;
    background-color: #161B2230;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
}

#command-palette form {
    height: 70px;
    width: 100%;
}

#command-palette input {
    background: none;
    color: #cccccc;
    outline: none;
    border: 0;
    font-size: 40px;
    height: 100%;
    width: 100%;
    display: block;
}

#command-palette .apps {
    text-align: center;
    color: white;
}
#command-palette .apps > div {
    display: inline-block;
    width: 80px;
    margin: 0 5px;
    border-radius: 10px;
    padding: 0 5px 10px;
}
#command-palette .apps > div.focus,
#command-palette .apps > div:hover {
    background-color: #cccccc50;
}
#command-palette .apps > div img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    padding: 5px 5px 0;
}

#command-palette .subtitle {
    width: 100%;
    color: lightgray;
    text-align: left;
    font-weight: bold;
    font-size: smaller;
}


#command-palette-trigger {
    background-color: #040911;
    color: white;
    height: 50px;
    width: 50px;
    position: fixed;
    top: calc(50% - 25px);
    left: calc(100% - 60px);
    padding: 9px;
    border-radius: 10px;
    opacity: 0.7;
    z-index: 9999999;
}
#command-palette-trigger-move {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999998;
}
