html, body {
    overflow-x: hidden;
}
.form-check-input{
    cursor: pointer;
}
.form-check-input:checked,
.btn-primary{
    background-color: #01b0de;
    border-color: #01b0de;
}
.btn-primary:hover,
.btn-primary:focus{
    background-color: #0a85b5;
    border-color: #0a85b5;
}
.btn-primary:focus,
.form-check-input:focus{
    box-shadow: 0 0 0 0.25rem rgb(10 133 181 / 50%);
}
.display-3,
.display-4{
    font-weight: 700!important;
}
a {
    color: #0a85b5;
    text-decoration: none;
}
a:hover {
    color: #01b0de;
}
nav{
    background-color: white
}
nav a {
    text-decoration: none;
    color: #212529;
}
nav hr {
    display: none;
}
nav a.active {
    color: #05afde;
    opacity: 1;
}
.nav-link{
    color: black;
    opacity: 0.7;
}
.nav-link a {
    display: block;
}
.nav-link:hover{
    opacity: 1;
    color: black;
}
.my-10{
    margin-top: 100px;
    margin-bottom: 100px;
}
code {
    background-color: #d7dfe1;
    border-radius: 3px;
    padding: 3px 6px;
    line-height: 1.5;
    color: inherit;
}
pre > code {
    padding: 0;
    background-color: unset!important;
}
.box,
pre {
    background-color: #d7dfe1;
    border-radius: 12px;
}
#hero{
    position: absolute;
    height: 800px;
    width: 800px;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: translate(30%, 50%);
}
@media (max-width: 1200px){
    #hero{
        height: 600px;
        width: 600px;
    }
}
@media (max-width: 960px){
    #hero{
        height: 450px;
        width: 450px;
    }
}
@media (max-width: 450px){
    #hero{
        height: 300px;
        width: 300px;
    }
}
@media (max-width: 768px){
    nav hr {
        display: block;
    }
}

#quote{
    max-width: 660px;
}
@media (max-width: 1020px){
    #quote{
        max-width: 600px;
    }
}
@media (max-width: 630px){
    #quote{
        max-width: 470px;
    }
}
@media (max-width: 420px){
    #quote{
        font-size: calc(1.325rem + 3.3vw);
    }
}


blockquote {
    padding: 0 20px;
    margin-bottom: 20px;
    border-left: 5px solid #d7dfe1;
    color: #60676e;
}
.hljs-tag{
    color: #c1b335;
}

h1{
    margin-bottom: 25px;
}
#docs-navigation {
    width: 300px;
    position: fixed;
    height: calc(100% - 90px);
    top: 90px;
    background-color: #d7dfe1;
}
@media (min-width: 960px){
    #docs-navigation {
        border-top-right-radius: 10px;
    }
}
#docs-navigation > .inner {
    width: 100%;
    height: 100%;
    max-width: 300px;
}
#docs-navigation a {
    color: black;
    text-decoration: none;
    opacity: 0.7;
}
#docs-navigation a.active{
    color: #05afde;
    opacity: 1;
}
.docs-navigation-toggle {
    background-color: #d7dfe1;
}
#docs-navigation a:hover{
    opacity: 1;
}
.docs-content {
    width: calc(100% - 300px);
    margin-left: 300px;
    display: flex;
    flex-direction: column;
}
.docs-navigation-toggle {
    display: none;
}
.docs-navigation-overlay {
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1a1f21b0;
    display: none;
}
.docs-content > div {
    max-width: 800px;
    margin: 0 auto;
}
.docs-content h3 {
    padding-top: 90px;
    margin-top: calc(3rem - 90px);
}
.docs-content .box,
.docs-content pre {
    padding: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.docs-buttons button {
    height: 100%;
    width: 100%;
}
@media (max-width: 960px){
    #docs-navigation {
        left: -300px;
        top: 0;
        z-index: 9999;
        height: 100%;
        transition: 0.3s left;
    }
    #docs-navigation.open{
        left: 0;
    }
    #docs-navigation.open + .docs-navigation-overlay {
        display: block;
    }
    .docs-navigation-toggle {
        display: block;
    }
    .docs-content {
        width: 100%;
        margin-left: 0;
    }
}
@media (min-width: 1320px){
    #docs-navigation {
        left:0;
        right: calc(50% + 360px);
        width: auto;
        display: flex;
        justify-content: flex-end;
    }
}
.mark, mark {
    background-color: #01b0de;
}
.dropdown-menu.show > a {
    color: black!important;
}

/******** Dark Theme *********/

html.dark-theme,
.dark-theme body {
    background-color: #212529;
    color: #f8f9fa;
}
.dark-theme a {
    color: #01b0de;
}
.dark-theme a:hover {
    color: #0a85b5;
}
.dark-theme a.btn,
.dark-theme a.btn:hover {
    color: inherit
}
.dark-theme .navbar-toggler{
    filter: invert(1);
}
.dark-theme nav{
    background-color: #212529
}
.dark-theme nav a:not(.active),
.dark-theme .nav-link,
.dark-theme #docs-navigation a:not(.active) {
    color: white;
    opacity: 0.7;
}
.dark-theme .nav-link:hover{
    opacity: 1;
    color: white;
}
.dark-theme code{
    background-color: #535f64;
}
.dark-theme #docs-navigation,
.dark-theme .box,
.dark-theme pre {
    background-color: #293033;
}
.dark-theme .docs-navigation-toggle {
    background-color: #293033B0;
}
.dark-theme #express-logo{
    -webkit-filter: invert(1);
    filter: invert(1);
}
.dark-theme blockquote {
    border-left: 5px solid #535f64;
    color: #bfc0c1;
}
.dark-theme .hljs-tag{
    color: #ffeb3b;
}
